# Dataset

[Iris dataset](https://archive.ics.uci.edu/ml/datasets/Iris) has this attributes:
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
  - Iris Setosa
  - Iris Versicolour
  - Iris Virginica
  
More information in [iris.names](https://github.com/jbrownlee/Datasets/blob/master/iris.names)

In [1]:
# Import libraries
import requests
import datetime
import pandas as pd
from sklearn.model_selection import train_test_split

# To supress warnings
import sys, os
stdout = sys.stdout
sys.stderr = open(os.devnull, 'w')
import logging
logging.getLogger("tensorflow").setLevel(logging.WARNING)

# Tensorflow libraries
import tensorflow as tf
from tensorboard import notebook
from keras.models import Sequential
from keras.layers import Dense

In [2]:
# Load dataset
dataset = pd.read_csv('iris.csv', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])  
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Describe dataset
dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
# Separate inputs and ouputs
X = dataset[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
Y_text = dataset[['class']]
Y_text.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [5]:
# One-Hot-Encoding
Y = pd.get_dummies(Y_text, prefix='Class')
Y.head()

   Class_Iris-setosa  Class_Iris-versicolor  Class_Iris-virginica
0                  1                      0                     0
1                  1                      0                     0
2                  1                      0                     0
3                  1                      0                     0
4                  1                      0                     0

In [6]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

# Model

In [7]:
# Create model
model = Sequential()
model.add(Dense(8, input_dim=4, activation='relu'))
model.add(Dense(3, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [8]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 40
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 27
=================================================================
Total params: 67
Trainable params: 67
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Save logs and tensorboard
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [10]:
model.fit(x=X_train, 
            y=y_train, 
            epochs=5, 
            validation_data=(X_test, y_test), 
            callbacks=[tensorboard_callback])

Epoch 1/5
4/4 [==============================] - 1s 141ms/step - loss: 1.9758 - accuracy: 0.3298 - val_loss: 1.9818 - val_accuracy: 0.3200
Epoch 2/5
4/4 [==============================] - 0s 9ms/step - loss: 1.8651 - accuracy: 0.3391 - val_loss: 1.8838 - val_accuracy: 0.3200
Epoch 3/5
4/4 [==============================] - 0s 10ms/step - loss: 1.7433 - accuracy: 0.3475 - val_loss: 1.7955 - val_accuracy: 0.3200
Epoch 4/5
4/4 [==============================] - 0s 13ms/step - loss: 1.6897 - accuracy: 0.3360 - val_loss: 1.7183 - val_accuracy: 0.3200
Epoch 5/5
4/4 [==============================] - 0s 10ms/step - loss: 1.5938 - accuracy: 0.3516 - val_loss: 1.6481 - val_accuracy: 0.3200

# Tensorboard

You can open in a terminal by doing:
```tensorboard --logdir logs```

In [20]:
notebook.display()

Selecting TensorBoard with logdir logs (started 0:00:02 ago; port 6006, pid 68344).